{% extends 'base.html' %}
{% load static %}
{% block title %}
Movie Review Site
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="card" style="background-color:FFE5E5;">
        <div class="card-body">
            <h3 class="text-center"> Welcome, {{ username }}!</h3>
        </div>
    </div>
    <br>
    <div class="card" style="background-color:FFCDEA;">
        <div class="card-body">
            <h2 class="text-center"> USERNAME = {{username}}</h2>
            <br>
            <h2 class="text-center"> EMAIL ID = {{email}}</h2>
            <br>
            <h2 class="text-center"> FIRST NAME = {{first}}</h2>
            <br>
            <h2 class="text-center"> LAST NAME = {{last}}</h2>
        </div>
    </div>
</div>

{% endblock %}
